@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --azul: #0400ff;
    --vermelho: #e60518;
    --branco: #F8F8FF;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-family: 'Expletus Sans', cursive;
}

.texto-validacao {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: var(--bs-form-invalid-color);
}

.navbar-custom {
    box-shadow: 0 .5rem 2rem rgba(230, 5, 24, .1);
    /* border-bottom: .5px solid var(--vermelho); */
}

body[data-bs-theme="light"] {
    background-color: var(--branco);
}

body[data-bs-theme="dark"] .navbar-custom {
    box-shadow: 0 .5rem 1rem rgba(4, 0, 255, .1);
    /* border-color: var(--azul); */
}

body[data-bs-theme="light"] path {
    fill: #1C274C;
}

body[data-bs-theme="dark"] path {
    fill: #4958B9;
}

.fs-7 {
    font-size: .95rem;
}
